img{
    width:400px ;
    height:150px;
}
.main{
max-width: 80%;
margin: auto;   
}
.navbar{
width: 80%;
position: absolute;
border-right: 1px solid black;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}
.navbar li {
    float: left;
    border-right: 1px solid black;
}
.navbar ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    
}
li a:hover {
    background-color:darkred;
}
article { 
    display: block;
}