img{
    width:400px ;
    height:150px;
}
.main{
max-width: 80%;
margin: auto;   
}

/* .navbar{
    background-color: red;
    padding: 5px;
}
.navbar ul li {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    
}
.navbar ul li a {
        color: white;
        padding: 10px;
        text-decoration: none;
    
}
li a:hover {
    background-color:darkred;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: darkred;
}

.left_side{
    width: 68%;
    float: left;
}
.Right_side{
    width:30%;
   
    float: right;
}
section{
    margin-top: 10px;
    padding: 5px;
    text-align: center;   
    background-color: aqua;
}
.sider{
    background-color: coral;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    width: 100%;
    float: left;
   
 }

 @media screen and (max-width: 600px)  {
    body {
        background-color:greenyellow;
    }
   
   
   .Right_side,.left_side{
       float:none;
       width: auto;
   }
.navbar ul li{
        float:none;
    }
}
